## attacks being provoked or not in the US since 1946

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("data/attacks.csv", encoding='cp1252')

In [3]:
df.drop_duplicates(inplace= True)

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
df.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6186,ND-0149,Before 1934,0.0,Unprovoked,URUGUAY,Rocha,"Playa del Barco, La Pedrera",Swimming,Maciello,M,...,NaN,"Di Candia, 2004",ND-0149-Maciello.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0149,ND-0149,117.0,NaN,NaN

In [6]:
df.drop(labels=['Case Number', 'Date', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'], inplace= True, axis= 1)

In [7]:
df=df[df["Year"]>=1946]

In [8]:
df['Year'] = df['Year'].astype('str')

In [9]:
df['Year'] = df['Year'].map(lambda x: x.rstrip('.0'))
df['Year'] = df['Year'].astype('int')

In [15]:
df= df.drop(df[(df['Country'] != 'USA')].index)

In [16]:
df.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Boat',
       'Sea Disaster'], dtype=object)

In [12]:
df2 = df.pivot_table(index = ['Type'], aggfunc ='size')
print(df2)

Type
Boat             130
Boating          123
Boatomg            1
Invalid          384
Provoked         442
Questionable       2
Sea Disaster     102
Unprovoked      3427
dtype: int64

In [18]:
df['Type'] = df['Type'].replace(["Boating"], 'Boat')

In [19]:
df['Type'] = df['Type'].replace(["Boatomg"], 'Boat')

In [21]:
df['Type'].unique()

array(['Boat', 'Unprovoked', 'Invalid', 'Provoked', 'Sea Disaster'],
      dtype=object)