## Check the % of fatalities are small comparing the amount of attacks

- Checking since 1946

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("data/attacks.csv", encoding='cp1252')

In [3]:
df.drop_duplicates(inplace= True)

In [4]:
df.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
232,2016.08.06,06-Aug-2016,2016.0,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,...,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.06,2016.08.06,6071.0,NaN,NaN

In [5]:
df.drop (labels= ['Case Number', 'Date', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Age', 'Injury', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1','Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'], axis= 1, inplace= True)

In [6]:
df.dtypes

Year           float64
Sex             object
Fatal (Y/N)     object
dtype: object

In [7]:
df.dropna(how= 'all',inplace= True)

In [8]:
df=df[df["Year"]>=1946]

In [9]:
df['Year'] = df['Year'].astype('str') # remove the .0 format to have a proper year

In [10]:
df['Year'] = df['Year'].map(lambda x: x.rstrip('.0'))
df['Year'] = df['Year'].astype('int')

In [11]:
df.columns

Index(['Year', 'Sex ', 'Fatal (Y/N)'], dtype='object')

In [12]:
df["Fatal (Y/N)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N'], dtype=object)

In [13]:
df['Fatal (Y/N)'] =df['Fatal (Y/N)'].str.strip()

In [14]:
df = df.dropna(axis=0, subset=['Fatal (Y/N)'])

In [15]:
df= df.drop(df[(df['Fatal (Y/N)'] != 'N') & (df['Fatal (Y/N)'] != 'Y')].index)

In [23]:
df["Sex "].unique()

array(['F', 'M'], dtype=object)

In [25]:
df= df.drop(df[(df['Sex '] != 'M') & (df['Sex '] != 'F')].index)

### Create a barplot comparing the total cases with the fatalities by gender

In [24]:
import seaborn as sns
import matplotlib.pyplot as plt